input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 60px;
    padding-bottom: 80px;
}


.kp-headings{
    font-size: x-large;
    font-family: "Agency FB";
    color: seagreen;
}

.kp-gly{
    padding-top: 30px;
}

.kp-gly-image{
    z-index:2;
    position :absolute;
}