<div class="container-fluid">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
    <div>
        <div class="navbar-text pull-left">
            <a href="widget-list.view.client.html">
            <span class="glyphicon glyphicon-chevron-left">
            </span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <b class="kp-navbar-text">Choose Widget</b>
            </a>
        </div>
    </div>
    </div>
</nav>

<div>
    <ul class="kp-list">
        <li class="kp-list-item">
            <div class = "row container-fluid">
                <a ng-click="model.createHeaderWidget()">Header</a>
            </div>
        </li>
        <li class="kp-list-item">
            <div class = "row container-fluid">
                <a href="#">HTML</a>
            </div>
        </li>
        <li class="kp-list-item">
            <div class = "row container-fluid">
                <a ng-click="model.createImageWidget()">Image</a>
            </div>
        </li>
        <li class="kp-list-item">
            <div class = "row container-fluid">
                <a ng-click="model.createYoutubeWidget()">Youtube</a>
            </div>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
    <div class="navbar-text pull-right">
        <a href="../views/user/profile.view.client.html">
            <span class="glyphicon glyphicon-user">
            </span>
        </a>
    </div>
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
        </a>
    </div>
    </div>
</nav>
</div>