
<div class="container fluid">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-text pull-right">
                <a ng-hide ="model.uid" href="#/userlogin" class="btn btn-sm btn-primary">Login</a>
                </a>
            </div>
            <div ng-show ="model.uid" class="navbar-text pull-right">
                <a ng-click = "model.logout()" class="btn btn-sm btn-danger">Logout</a>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#/show">
                    <b class="kp-navbar-text">S.O.W</b>
                </a>
            </div>
        </div>
    </nav>

    <div id="body-div">
    <div ng-repeat="seller in model.sellerinfo">
    <div class="w3-card-4">

    <header class="w3-container w3-red">
        <h3>{{seller.username}}</h3>
    </header>

    <div class="w3-container">
        <p>{{seller.showcount}}</p>
        <hr>
        <img class = "avatar" src="http://www.jqueryscript.net/images/Simplest-Responsive-jQuery-Image-Lightbox-Plugin-simple-lightbox.jpg" alt="Avatar" class="w3-left w3-circle">
        <p>..</p>
    </div>

    <a href="#/user/search/{{model.pid}}/findstores/{{seller._id}}">
    <button class="w3-button w3-block w3-green">+ Buy</button>
    </a>

</div>
</div>
    <br/>
</div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user">
            <span class="glyphicon glyphicon-user">
            </span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
            </a>
        </div>
    </div>
</nav>