
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a ng-hide ="model.uid" href="#/userlogin" class="btn btn-sm btn-primary">Login</a>
            </a>
        </div>
        <div ng-show ="model.uid" class="navbar-text pull-right">
            <a ng-click = "model.logout()" class="btn btn-sm btn-danger">Logout</a>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#/show">
                <b class="kp-navbar-text">TVTime</b>
            </a>
        </div>
    </div>
</nav>

<div ng-show="model.error" class="alert alert-danger" role="alert">
    {{model.error}}
</div>

<div  ng-show="model.message" class="alert alert-success" role="alert">
    {{model.message}}
</div>

<div class="container-fluid">
    {{model.seller}}
</div>


<a class="btn btn-primary btn-block" ng-disabled="model.outofstock"
   ng-click="model.confirmpurchase()">
    Are u sure you want to purchase this item?
</a>

<a class="btn btn-primary btn-block" ng-show="model.outofstock"
   href="#/user/search/{{model.sid}}">
    Go back to seller list!
</a>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user">
            <span class="glyphicon glyphicon-user">
            </span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
            </a>
        </div>
    </div>
</nav>
