<div class="container-fluid">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-text pull-right">
                <a ng-hide ="model.uid" href="#/userlogin" class="btn btn-sm btn-primary">Login</a>
                </a>
            </div>
            <div ng-show ="model.uid" class="navbar-text pull-right">
                <a ng-click = "model.logout()" class="btn btn-sm btn-danger">Logout</a>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#/show">
                    <b class="kp-navbar-text">TVTime</b>
                </a>
            </div>
        </div>
    </nav>

<h1>
    {{model.product.name}}
</h1>
    <div class="row container-fluid">
    <div class="col-md-6 img-desc">
        <img ng-src="https://image.tmdb.org/t/p/w500/{{model.product.backdrop_path}}" alt="No preview available"/>
    </div>
    <div class="col-md-6 youtube-widget">
        <iframe width="100%" ng-src="{{model.getTrustedURL()}}" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>
    {{model.product.overview}}
Number of episodes :: {{model.product.number_of_episodes}}
Number of seasons  :: {{model.product.number_of_seasons}}
Vote Avg :: {{model.product.vote_average}}
Vote Count :: {{model.product.vote_count}}
Home page :: {{model.product.homepage}}
</div>

<div class="form-group" ng-show="model.bid">
    <button ng-hide = "model.like" ng-click="model.liketheshow()" class="btn btn-block btn-primary"><i class="fa fa-thumbs-up">Like</i> </button>
    <button ng-show = "model.like" ng-click="model.undolike()" class="btn btn-block btn-primary"><i class="fa fa-thumbs-down">Undo Like</i> </button>
    <button ng-hide = "model.wish" ng-click="model.addtowishlist()" class="btn btn-block btn-danger"><i class="fa fa-heart-o" style="font-size:20px;color:black">Add to wishlist</i></button>
    <button ng-show = "model.wish" ng-click="model.removefromwishlist()" class="btn btn-block btn-danger"><i class="fa fa-heart" style="font-size:20px;color:black">Remove from wishlist</i></button>
    <a class="btn btn-success btn-block"
       href="#/user/search/{{model.pid}}/findstores">Find Stores Near you</a>
</div>



<div class="form-group" ng-show="model.sid">
    <h1>Add this item to inventory</h1>
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <div ng-show="model.message" class="alert alert-danger" role="alert">
        {{model.message}}
    </div>

    <h2>Product Description</h2>
    <textarea ng-model="show.comments" rows="4"
              class="form-control"
              placeholder="The first 50 customers get a 25% off on the DVD.It is available in english and spanish">
    </textarea>
<div class="form-group">
    <h2>Product Count</h2>
    <input ng-model="show.count" type="number"
           class="form-control"/>
</div>

<div class="form-group">
    <a class="btn btn-primary btn-block"
       ng-click="model.addShow(show)">
        Add TV show to your inventory!
    </a>
    <div class="form-group">
        <a class="btn btn-warning btn-block"
           href="#/home">Home</a>
    </div>
</div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user">
            <span class="glyphicon glyphicon-user">
            </span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
            </a>
        </div>
    </div>
</nav>