 <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-text pull-right">
                <a ng-hide ="model.uid" href="#/userlogin" class="btn btn-sm btn-primary">Login</a>
                </a>
            </div>
            <div ng-show ="model.uid" class="navbar-text pull-right">
                <a ng-click = "model.logout()" class="btn btn-sm btn-danger">Logout</a>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#/show">
                    <b class="kp-navbar-text">S.O.W</b>
                </a>
            </div>
        </div>
 </nav>
 <div ng-show="model.error" class="alert alert-danger" role="alert">
     {{model.error}}
 </div>

 <div ng-show="model.message" class="alert alert-danger" role="alert">
     {{model.message}}
 </div>

 <div class="body-div">
 <div class="container-fluid">
    <h1>Register</h1>

    <div class="form-group">
        <img class="avatar form-group" ng-src="{{img_avatar}}" onerror="this.src='https://cdn.pixabay.com/photo/2016/11/08/15/21/user-1808597_960_720.png'"/>
    </div>

    <h5>FirstName</h5>
    <div class="form-group">
        <input ng-model="user.firstName"
               type="text"
               class="form-control"
               placeholder="Alice"/>
    </div>


    <h5>LastName</h5>
    <div class="form-group">
        <input ng-model="user.lastName"
               type="text"
               class="form-control"
               placeholder="Wonderland"/>
    </div>

    <h5>Gender</h5>
    <div class="form-group">
        <select class="form-control" ng-model="img_avatar">
            <option value="" disabled selected>Gender</option>
            <option value="https://www.w3schools.com/w3css/img_avatar2.png">Male</option>
            <option value="https://www.w3schools.com/howto/img_avatar2.png">Female</option>
        </select>
    </div>

    <h5>Email ID</h5>
    <div class="form-group">
        <input ng-model="user.email"
               type="email"
               class="form-control"
               placeholder="alice@gmail.com"/>
    </div>

    <h5>Phone Number</h5>
    <div class="form-group">
        <input ng-model="user.phone"
               type="text"
               class="form-control"
               placeholder="2222222222"/>
    </div>


    <h5>Username</h5>
    <div class="form-group">
    <input ng-model="user.username"
           type="text"
           class="form-control"
           placeholder="alice"/>
    </div>

    <h5>Password</h5>
    <div class="form-group">
    <input ng-model="user.password"
           type="password"
           class="form-control"
           placeholder="*********"/>
    </div>

    <h5>Verify Password</h5>
    <div class="form-group">
    <input ng-model="user.verifypassword"
           type="password"
           class="form-control"
           placeholder="*********"/>
    </div>


    <h5>Purpose</h5>
    <div class="form-group">
        <select class="form-control" ng-model="user.type">
            <option value="" disabled selected>What are you here for?</option>
            <option value="buyer">Buyer</option>
            <option value="seller">Seller</option>
        </select>
    </div>
    <a ng-click="model.register(user)"
       class="btn btn-primary btn-block">Register</a>
    <a class="btn btn-danger  btn-block"
       href="#/userlogin">Cancel</a>
 </div>
 </div>